body {
    margin: 0;
    color: #000000;
}

header {
    padding-top: 0.5em;
    width: calc(100% - 100px);
    margin: auto;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 0.5em;
    height: 50%;
    color: #252525;
}

nav a:hover {
    color: #ce3700;
}

span {
    color: #e63d00;
}

@media screen and (max-width: 600px) {
    header {
        justify-content: center;
    }

    nav {
        display: none;
    }
}