html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #252525;
}

main {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100% - 50px);
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
}

main img {
    height: 50%;
}

section {
    width: 100%;
    max-width: 300px;
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: black;
}

a.button.filled {
    border-radius: 10px;
    background-color: #5f9ea0;
    color:white;
}



span {
    color: #5f9ea0;
}

.form {
    position: fixed;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    height: calc(100% - 50px);

    min-width: calc(100% - 100px);
    padding: 0px 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.form .content {
    display: flex;
}

.form img {
    height: 40vh;
    width: auto;
}

.form.--show {
    opacity: 1;
    pointer-events: inherit;
}

form #description {
    resize: none;
}

form .input {
    width: calc(100% - 16px);
    margin: 8px 0px;
    padding: 8px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 8px;
}

form .input:focus {
    outline: none;
}

form #submit {
    width: 100%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #5f9ea0;
    color:white;
    border: none;
}

@media screen and (max-width: 700px) {
    .form img {
        display: none;
    }
}

header {
    padding-top: 10px;
    width: calc(100% - 300px);
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #252525;
    height: 20px;
}
nav a:hover {
    color: #708090;
}

@media screen and (max-width: 650px) {
    header {
        justify-content: center;
    }

    nav {
        display: none;
    }
}