* {
    margin: 0px;
}

html {
    font-family: 'Lucida Sans', sans-serif;
    height: 100%;
}

body {
    color: #ffffff;
    height: 100%;
    background-image: url("./IMG/fondo_contador.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

    color: #333333;
    border-radius: 25px;
    margin: 25px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
}