html {
    height: 100%;
    font-family: 'Lucida Sans', Sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    height: 100%;
    display: flex;
}

aside {
    background-color: #e4e4e4;
    width: 20em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
}

aside .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside .buttons a {
    padding: 10px;
    text-decoration: none;
    color: #333333;
}

aside img {
    width: 100%;
    border-radius: 100%;
    align-items: center;
    max-width: calc(100% - 2em);
}

aside span {
    color: #708090;
}